// Colores
$bckYellow:yellow;

$primaryBlue:#36c5f0;
$darkblue:#1264a3;
$beige:#f6efe8;
$white:#fff; 
$headerBackground:#ecdeec;
$softgray:#454245;
/* Sizing */

//typography

$h1: 2.5rem;
$h2: 2rem;
$subtitle: 1.5rem;