* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
nav{ @include flexCenter(row, space-between, center);
    img{width: 200px;}
    padding: 1rem
}
.pokemon {
  @include flexCenter(row, space-between, center);
  gap: 2rem;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;

  .pokemonData {
    max-width: 500px;
    background: $bckYellow;
    padding: 1rem;
    border-radius: 16px;
    .pokemonContainer {
      border: solid 1px orange;
      border-radius: 4px;
      padding-bottom:4rem;
      background-image: url(../../assets/img/img-noise-361x370.png);

      .pokemonImage {
        @include flexCenter(column, center, center);
        background-image: url(../../assets/img/imagen_nubes.jpeg);
        background-size: cover;      
        width: 90%;
        margin: 0 auto;
        max-height: 300px;
        box-sizing: content-box;
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(45deg,
        rgba(193, 193, 193, 1) 0%,
        rgba(243, 243, 243, 1) 35%,
        rgba(171, 171, 171, 1) 100%
        );
        border-image-slice: 1;
        img {
          width: 75%;
          max-height: 200px;
        }
      }
      .pokemonDataBar {
        @include flexCenter(row, space-evenly, center);
        padding:.3rem 0;
        margin-top: -4px;
        background: rgb(193, 193, 193);
        background: linear-gradient(
          180deg,
          rgba(193, 193, 193, 1) 0%,
          rgba(243, 243, 243, 1) 35%,
          rgba(171, 171, 171, 1) 100%
        );
        border-radius: 16px 0px 20px 0px;
        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

h2 {
  color: black;
  width: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  justify-content: space-between;
}
.imgPokemon {
  width: 80%;
  max-height: 200px;
  margin: 0 auto;
}
